@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full text-white;
    font-family: 'Montserrat';
  }
  body {
    @apply h-full;
  }
  #__next {
    @apply h-full;
  }
}

.simplebar-scrollbar::before {
  background: linear-gradient(
      rgba(200, 29, 17, 0.3137254901960784),
      rgba(28, 57, 187, 0.3137254901960784)
    ),
    #639 !important;
  border-radius: 10px !important;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgba(96, 165, 250, 0) inset;
  box-shadow: 0 0 0px 1000px rgba(96, 165, 250, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}
